*.o
*.exe
*.class
*.dat

#hide the sublime packages
*.sublime-package*


bin/
motivator/Matlab/
Data\ Structures/
c-misc/DS\ projects/*.txt
#ignore test input files
PracticeInput*
out.txt
#ignore python stuff
ezdxf-0.6.2
*.pyc

#paths for windows
*+wing*
*wing

main3.cpp
*.jar

#ignore archives
*.tgz
*.zip
*.gz

#ignore images
*.jpg
*.png
*.bmp

#ignore CAD files
*.[sS][tT][lL]
*.[dD][xX][fF]

#ignore MatLab specific files
*.p
*.mat
*/+mdo/ProfLinesearch.m
