*.o
*.exe
*.class
*.dat
*.out

#hide the sublime packages
*.sublime-package*

bin/
motivator/Matlab/
Data\ Structures/
c-misc/DS\ projects/*.txt
*bbcomp/

#ignore test input files
PracticeInput*
out.txt
*.in

#ignore python stuff
ezdxf-0.6.2
*.pyc

#hide certain paths
*+wing*
*wing

main3.cpp
*.jar

#ignore archives
*.tgz
*.zip
*.gz

#ignore images
*.jpg
*.png
*.bmp

#ignore CAD files
*.[sS][tT][lL]
*.[dD][xX][fF]

#ignore MatLab specific files
*.p
*.mat
*/+mdo/ProfLinesearch.m
*matlab-misc/aeopt.m
*matlab-misc/aeroln.m
*matlab-misc/aeroAIC.m
*matlab-misc/beam3d.m
*matlab-misc/merge.m
*matlab-misc/force.m
*matlab-misc/totaDrag.m
*matlab-misc/totalLift.m
*matlab-misc/weightStruct.m
*matlab-misc/stiffness.m
*matlab-misc/sample_numbers.txt
*matlab-misc/seclift.m
*matlab-misc/stress.m
*matlab-misc/totalDrag.m


pde.m
