<!doctype html>
<html>
    <head>
        <title>Horoscope for CodeAbbey</title>
    </head>
    <body>
        <center>
            <h1>Personal Horoscope</h1>
            <form action={{ target_page }}>
                Name: <input type = 'text', name = 'name'> </input>
                <br></br>
                <br></br>
                Birth Year:
                <input type = 'text' size = '6' name = 'year'></input>

                Month:
                <input type = 'text' size = '3' name = 'month'></input>

                Day:
                <input type = 'text' size = '3' name = 'day'></input>
                <br></br>
                <br></br>
                <input type = 'submit' value = 'Send Data'>
            </form>
        </center>
    </body>
</html>

